body
{
margin: 0;
background-color: #00acfd;
}
.header
{
min-width:100%;
padding:3% 0% 3% 0%;
background-color: #c8eaf5;
}
.headerbutton
{
float: left;
min-width:25%;
background-color: #c8eaf5;
}
.content
{
min-width:100%;
background-color: #00acfd;
}
.center
{
float: left;
background-color: #00acfd;
position: relative;
left: 35%;
top: 200px;
}
.count
{
float: left;
background-color: #00acfd;
position: relative;
left: 35%;
top: 200px;
}
#nummer
{
margin-left: 5%;
border-style: solid;
border-width: 1px;
}
#input
{
}
#button
{
margin-right: 5%;
}
.results
{
float: left;
background-color: #00acfd;
position: relative;
left: 35%;
top: 200px;
}
ul
{
    list-style-type: none;
}
.footer
{
background-color: #71cee7;
}