body
{
margin: 0;
background-color: #00acfd;
}
.header
{
min-width:100%;
padding:100 0% 100 0%;
background-color: #c8eaf5;
}
.headerbutton
{
float: left;
min-width:25%;
background-color: #c8eaf5;
}
.content
{
padding:200 50% 200 50%;
background-color: #00acfd;
}
#nummer
{

}
#input
{
float: left;
}
#button
{
float: right;
}
.footer
{
background-color: #00acfd;
}