body
{
background-color: #00acfd;
}
.header
{
padding:100 50% 100 50%;
background-color: #c8eaf5;
}
.headerbutton
{
inline
}
#homebutton
{
border-style: solid;
border-width: small;
padding:100 10% 100 10%;
}
#addprojectbutton
{
border-style: solid;
border-width: small;
padding:100 10% 100 10%;
}
#addresourcebutton
{
border-style: solid;
border-width: small;
padding:100 10% 100 10%;
}
#inlogbutton
{
border-style: solid;
border-width: small;
padding:100 10% 100 10%;
}
.content
{
padding:200 50% 200 50%;
background-color: #00acfd;
}
#nummer
{

}
#input
{
float: left;
}
#button
{
float: right;
}
.footer
{
background-color: #00acfd;
}