body{	
	background-image: url("image1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin:0px;
}
.center {
	height:100%;
	width:100%;
   	margin-left: auto ;
	margin-right: auto ;
	margin-top:0px;
	margin-bottom:0px;
}
.header {
	height:10%;
	width:100%;
   	margin-left: auto ;
	margin-right: auto ;
	background-color:#0fcabf;
	padding-top:"auto";	
	padding-bottom:"auto";			/* om de knoppenbalk te verplaatsen */
}
ul {
    list-style-type: none;
    position: static;
    overflow: hidden;
}
li {
    float: left;
}
li a {
	font-family:Tahoma;
	font-size:20px;
	font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding:20px;
	margin-top:15px;
    text-decoration: none;
}
li a:hover {
    color: #111;
}
tr{
	border:5px solid grey;
}
tr:nth-child(even) {
    background-color: #FFFFFF;
}
td{
	border:1px solid grey;
}
table{
	border-collapse:collapse;
}
.centerresults{
	border-radius: 15px;
	border:10px solid grey;
	margin-top:8%;
	font-family:Tahoma;
	text-align:center;
	font-size:20px;
	width:80%;
	max-height:90%;
	background-color:rgba(255,255,255,0.9);
	overflow-y:hidden;
	margin-left:10%;
}
.hidden{
 display:none;   
}